div {
  background: #2d314d;
  background: #31d35c;
  background: #2bb7da;
  background: #9698a6;
  background: #f3f4f6;
  background: #fafafa;
  background: #ffffff;
}

div {
  grid-template-columns: 2fr 3fr;
}
